html {
  background-color: #d6cfcf;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

img {
    width: 50%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 10px;
}

#nav {
  background-color: #ffffff;
  color: gray;
  opacity: 0.5;
  overflow: hidden;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding-bottom: 30px;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%

}

.wrap {
  width: 30%;
  top: 50%;
  left: 50%;
}
.search {
flex: wrap;
justify-content: flex-end;

}
.button-description {
  margin-top: 30px;
}
.bigbranding {
  font-size: 400%;
  font-family: 'Open Sans', sans-serif;
  padding-top: 80px;
  z-index:-30px;

}
.hook-2 {
  font-size: 400%;
  font-family: 'Open Sans', sans-serif;
  z-index:-30px;
}

.smallbranding{
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

.button-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
}
}
.description {
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
}
.title-header2 {
  font-size: 200%;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}
.paragraph-2 {
  font-size: 115%;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
}
.remember {
  font-style: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 50
}
#button {
  font-size: 50;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

.flex-container {
  grid-area: header;
}

}
.child-ab {
  font-family: 'Open Sans', sans-serif;
  padding-right: 100px;
  img {
    display: inline-block;
    height: 50%auto;
    width: 50%auto;
    border: 2px solid black
  }

}
.background-red{
  background-color: #EF4136;
}

.bigcard {
  position: static;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: red;
}
.child-b {
  grid-area: main;
  background-color: #ffffff;
  ;
  padding-left: 100px;
  padding-right: 100px;
}
.child-c {
  grid-area: sidebar;
  background-color: #ffffff;
  ;
  padding-left: 100px;
  padding-right: 100px;
}
.child-cd {
  grid-area: blog;
  background-color: #ffffff;
  ;
  padding-left: 100px;
  padding-right: 100px;
}
.child-d {
  grid-area: footer;
  background-color: #ffffff;
  ;
  padding-left: 100px;
  padding-right: 100px;
}
